.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}
.header .title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.125rem;
}
.information p::before {
   content:'';
   display: inline-block;
   width: 1rem;
   height: 1rem;
   background-repeat: no-repeat;
   background-size: contain;
   margin-right: 0.5rem;
   
}

.information .office::before{
    background-image: url('../img/office.png');
}
.information .location::before{
    background-image: url('../img/location.png');
}
.information .contact::before{
    background-image: url('../img/contact.png');
}
.information .email::before{
    background-image: url('../img/email.png');
}

@media only screen and (min-width: 768px){
    .header{
        display: grid;
        grid-template-areas:
        "photo title"
        "photo information"
        ;
    }
    .header .photo{
        grid-area: photo;
        margin: 0 auto;
    }
    .header .title{
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }
    .header .information{
        grid-area: information;
    }
}